{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <a href="{% url 'home' %}">
                    <img style="height: 80px;" src="https://i.postimg.cc/3NNk5NLz/home-logo-main01-2.png" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
                <div class="col-md-5">
                    <div class=" text-center">
                        <ul class="nav">
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle Button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Country</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                      <a class="dropdown-item" href="#">English</a>
                                      <a class="dropdown-item" href="#">Bahasa</a>
                                    </div>
                                  </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">English</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bahasa</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-5 justify-content-end text-right Class1">
                    <a class="btn btn-info" href="#" role="button"><b>Log in</b></a>
                    <a class="btn btn-info" href="#" role="button"><b>Sign up</b></a>
                </div>

            </div>
        </div>
    </header>
    <div class="container-fluid" style="background-color: #216f93;">
            <div class="row justify-content-center" style="z-index: 10; ">
                    <div class="col-12 text-white ">
                        <br>
                        <h6 class="text-bold" style="margin:5px 2px;">
                            <strong>
                           Pencarian 5,700 Lowongan Kerja
                        </strong>
                        </h6>
                        <form method="GET" >
                                <input type="text" name="search" style="width: 800px" placeholder="Masukkan jabatan atau perusahaan">
                                <button type="submit text-center" style="width: 100px; heigth: 48.8px;background-color: grey; font-size: 18px;" class="btn border-dark text-white">
                                        <strong>
                                        Cari
                                        </strong>    
                                    </button>
                        </form>
                        <br>
                    </div>
                </div>
    </div>
    {% block content %}

    {% endblock %}

    <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
    </script>
</body>
</html>